<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555340778090-c01d8nb19l5qt0b5vs4kfrjbgqk202t6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555340778090-c01d8nb19l5qt0b5vs4kfrjbgqk202t6</string>
	<key>API_KEY</key>
	<string>AIzaSyCn2N6ruI0AcYPK4VFZWcmcsIkoxdL0Qjg</string>
	<key>GCM_SENDER_ID</key>
	<string>555340778090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewCrew</string>
	<key>PROJECT_ID</key>
	<string>crew-brew-a3157</string>
	<key>STORAGE_BUCKET</key>
	<string>crew-brew-a3157.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555340778090:ios:a96d77716c3f0d284cd813</string>
</dict>
</plist>